.header {
        background-color:#450f01;
        position: fixed;
        z-index: 200;
        width: 100%;
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
    a {
        text-decoration: none;
        color: #fff5f5;
        padding: .5em;
        &:hover {
            text-decoration: underline;
        }
    }
}

