$content-width: 800px;

.plot {
    background: #fff5f5;
    text-align: center;
    min-height: 60vh;
    padding: 0 2em;
    h2 {
        margin-top: 1em;
        margin-bottom: 1em;
        font-size: 35px;


    }
    .plotcontent {
        max-width: $content-width;
        margin: 0 auto 2em auto;
        display: flex;
        justify-content: center;
        img {
            width: 35%;
            align-self: center;
            box-shadow: 0px 0px 17px 0px rgba(69,15,1,1);
        }
        .plottext {
            text-align: justify;
            margin-left: 2em;
            h3 {
                font-size: 25px;
                margin-bottom: 2em;
            }
            p {
                line-height: 1.5em;
            }
        }
     }
}

@media screen and (max-width: 640px) {
    .plotcontent {
        flex-direction: column;

        img {
           margin-bottom: 2em; 
        }

        .plottext {
            margin-left: 0 !important;
              
            h3 {
                text-align: center;
            }
        }
    }

}